<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="{{ "/assets/images/shape/shape_10.png" | absolute_url }}" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>{{ site.data.i18n.case_studies.title }}</h2>
					<p>{{ site.data.i18n.case_studies.subtitle }}</p>
				</div>
			</div>
		</div>
		<div class="row d-none d-sm-block">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">all</button>
					{% for tag in site.case_studies_tags.list %}
						<button class="project_btn" data-filter=".{{ tag.slug }}">
							{{ tag.name }}
						</button>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="projects_slider_content">
			{% assign case_studies = site.posts | where_exp:"post","post.categories contains 'Case Study'" %}
			{% for post in case_studies %}
			<div class="single_project {{ post.tags | join: ' ' }}">
				<a href="{{ post.url }}">
					<div class="grid_item">
						<div class="deneb_img">
							<img src="{{ post.post_image | absolute_url }}" class="img-fluid" alt="{{ post.company }}">
						</div>
						<div class="deneb_info">
							<h4>{{ post.company }}</h4>
							<p>{{ post.title }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End deneb_project section -->
